script(type="text/x-template")#works-container
  .works-slider
    display(
      :currentWork1="currentWork",
      :works="works",
      @dispslide="compslide",
      @thslide="thslide",
      :currentIndex="currentIndex"
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#works-display
  .works-slider__pics(:data-slide="currentSlide")
    .works-slider__pics-content
      img(:src="currentWork1.pic").works-slider__fullpic
      thumbs(
        :works="reversedWorks",
        :currentWork="currentWork1"
        @thslide="$emit('thslide', $event);",
      )
      buttons(
        @btslide="$emit('dispslide', $event);",
        :notHoverUp="maxUp",
        :notHoverDown="maxDown"
      )



script(type="text/x-template")#works-info
  .works-slider__data
    .worksslider_tags
      tags(
        :tags="tagsArray"
      )
    .works-slider__title {{currentWork.title}}
    .works-slider__desc
      p {{currentWork.description}}
    .works-slider__link 
      a(:href="currentWork.link" target="_blank").iconed-link Посмотреть сайт

script(type="text/x-template")#works-thumbs
  ul.works-slider__thumbs
    li.works-slider__thumb-item(
      v-for="slide in works" :key="slide.id"
      :class="{active: currentWork.id==slide.id}"
      @click="$emit('thslide', slide.id);" 
      )
        //- a(href="#" target="_blank").works-slider__thumb-link
        img(:src="slide.pic").works-slider__thumb

script(type="text/x-template")#works-buttons
  .works-slider__buttons
    button(
      @click="$emit('btslide', 'next');" 
      :class="{nothover: notHoverUp}"
    ).works-slider__btn.prev
    button(
      @click="$emit('btslide', 'prev');" 
      :class="{nothover: notHoverDown}"
      ).works-slider__btn.next

script(type="text/x-template")#works-tags
  ul.works-slider__tags
    li.works-slider__tag-item(v-for="tag in tags")
      .tag {{tag}}