.container
    .section_about
      h5 Привет, меня зовут
      h2 Владимир Астаханов
      h5 
        |Я занимаюсь разработкой современных сайтов и приложений. 
        |Мне нравится делать интересные и современные проекты.
      h5 
        |Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        |Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!