.header
  .container
    .section_main
      .top
        .logo 
          p ВА
        .menu
          .menu_item Обо мне
          .menu_item Навыки
          .menu_item Работы
          .menu_item Отзывы
        .social
          .soc_icon 
          .soc_icon
          .soc_icon
          .soc_icon

      .main_subtitle 
        p Личный сайт
        p веб разработчика
      .main_title 
        h1 Владимир  Астаханов
      //-   include contact
      .scroll
        p Скролл