.triangles
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
    polygon(points="0,0 0,100 1000,100")
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
    polygon(points="0,100 1000,100 1000,0")